<footer class="footer">
    <div class="container-fluid">
        <div class="copyright pull-right">
            &copy; Santiago Borgnino - Pablo Dellacassa - Muhannad Shahada | <a href="https://barcelonatechnologyschool.com/">Barcelona Technology School</a>
        </div>
    </div>
</footer>
