<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <form class="example-form">
          <mat-form-field class="example-full-width" style="width: -webkit-fill-available;">
            <mat-label>Select a place from the list</mat-label>
            <input type="text"
                   placeholder="Select a place from the list"
                   aria-label="Select a place from the list"
                   matInput
                   [formControl]="myControl"
                   [(ngModel)]="optionSelected"
                   (ngModelChange)="onModelChange($event)"
                   [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Interactive Map</h5>
        <p class="card-category">Your itinerary is ready!</p>
      </div>
      <div class="card-body" *ngIf="loading" style="align-self: center; height: 400px; padding-top: 10%;">
        <div width="100%" height="400px">
          <mat-spinner></mat-spinner>
        </div>
      </div>
      <div class="card-body" *ngIf="mapHtmlUrl && !loading">
        <iframe width="100%" height="400px" frameBorder="0" [src]="mapHtmlUrl"></iframe>
      </div>
    </div>
  </div>
</div>
