<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/img/faces/santi.jpeg" alt="...">
            <h5 class="title" style="font-size: x-large !important;">Santiago Borgnino</h5>
          </a>
        </div>
        <p class="description text-center">
          <br>
          <b>Master in Big Data Solutions
          BSc. in Chemical Engineering</b>

          <br><br> Supply Chain Operations
          Customer Service

          <br><br><br> <a>Based in Barcelona</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/img/faces/popi.jpeg" alt="...">
            <h5 class="title" style="font-size: x-large !important;">Pablo Dellacassa</h5>
          </a>
        </div>
        <p class="description text-center">
          <br>
          <b>Master in Big Data Solutions
          MSc. in Economics
          BSc. in Forest Engineering</b>

          <br><br> IT Product/Business Analyst
          Economic Consultant

          <br><br> <a> Based in Barcelona</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/img/faces/muha.jpeg" alt="...">
            <h5 class="title" style="font-size: x-large !important;">Muhannad Shahada</h5>
          </a>
        </div>
        <p class="description text-center">
          <br>
          <b>Master in Big Data Solutions
          MSc. in Professional Engineering
          BSc. in Mechatronics, Robotics and Automation Engineering</b>

          <br><br> Project Management
          Product Development

          <br><br> <a> Based in Barcelona</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="author">
          <a href="#">
            <h5 class="title" style="font-size: x-large !important;">Smart Tour</h5>
          </a>
        </div>
        <p class="description text-center">
          <br>
          <b>Smart Tour is a group of students from Barcelona Technology School that work side by side to create solutions towards a sustainable tourism in Barcelona</b>

        </p>
      </div>
    </div>
  </div>
</div>
